@charset "UTF-8";

body {
    color: #000;
    font-family: arial;
    background: #fff;
    overflow-x: hidden;
}
.mm_main{

}
.mm_main_list{
    background-color: #f1f1f1;
    border: 0.025rem solid #ccc;
    border-radius:0.125rem;
}
.mm_main_list .mm_main_cate > a{
    display: block;
    height: 1rem;
    line-height: 1rem;
    color: #000;
    font-size: 0.4rem;
    font-weight: 700;
    background:url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
    padding-left: 0.4rem;
    border-bottom: 0.025rem solid #ccc;
}
.mm_main_content{
    background-color: #fff;
}
.mm_main_content > li {
    float: left;
    width:33.33%;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    background-color: #fff;
    border-bottom: 0.025rem solid #ccc;
    border-right: 0.025rem solid #ccc;
}
.mm_main_content > li > a{
    display: block;
    width: 100%;
    color: #777;
    font-size: 0.35rem;
}
